* {
	box-sizing: border-box;
}

body {
    background: #f4f4f4;
    margin: 0;
    font-size: 12pt;
    font-family: segoe ui;
}

a {
    color: #6b6b6b;
    text-decoration: none;
}

a:hover {
    color: black;
}

p {
    margin: 10px;
}

[current] {
    color: black;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 2px -1px #b5b5b5;
    text-align: center;
    overflow: hidden;
}

.menu div {
    display: inline-block;
	line-height: 60px;
}

.menu div.left {
    float: left;
}

.menu div.right {
    float: right;
}

.menu a {
	display: inline-block;
    padding: 0 15px 0 15px;
}

.row {
	width: 1024px;
}

.main {
    padding: 75px 15px 15px 15px;
    width: 1024px;
    margin: auto;
}

.block {
    background: white;
    border: 1px solid #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
}

.block .title {
    display: block;
    font-weight: 500;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
}

.block .footer {
    height: 50px;
    border-top: 1px solid #ebebeb;
    background-color: #f9f9fb;
    padding: 0 10px 0 10px;
}

.block .footer a {
	display: inline-block;
    line-height: 50px;
}

.copyright {
    text-align: center;
    margin-bottom: 10px;
    color: #999;
}

















@media (max-width: 1024px) {
.row, .main {
    width: 100%;
}
}